:root{
    --brightOrange : #F74700;
    --darkOrange : #B53A25;
    --offWhite : #F3F0E0;
    --brown: #A88771;
    --lightGreen : #91A88C;
    --greyishGreen : #677662;
    --darkestGreen: #2B3531;
}
*{
    box-sizing: border-box;
    margin: auto;
    padding: 0%;
    font-family: 'Poppins', sans-serif;;
}
