
:root{
    --brightOrange : #F74700;
    --darkOrange : #B53A25;
    --offWhite : #F3F0E0;
    --brown: #A88771;
    --lightGreen : #91A88C;
    --greyishGreen : #677662;
    --darkestGreen: #2B3531;
}
*{
    box-sizing: border-box;
    margin: auto;
    padding: 0%;
    font-family: 'Poppins', sans-serif;;
}
body{
    background-color: var(--offWhite);
}
.landing-page{
    height: 100vh;
}

/* navbar  */
.nav{
    position: absolute;
    width: 100%;
    height: 3rem;
    display: flex;

}
.nav img{
    width: 3rem;
}
.intro{
    display: flex;
    position: absolute;
    top: 10vh;
    width: 100vw;
    justify-content: center;
}

/* intro (kzilla celebrated) */
.intro img{
    width: 6rem;
}
.intro h2{
    font-weight: 500;
    color: var(--lightGreen);
}
@media only screen and (max-width: 700px) {
    .intro img {
        width: 4rem;
    }
  }

/* main- logo+ descrp */
.main {
    position: absolute;
    top: 25vh;
    width: 95vw;
    margin: 0px 0.5rem 0rem 1rem;
    display: flex;
    flex-direction: column;
}
.main p{
    text-align: center;
    margin-top: 5rem;
    color: var(--brightOrange);
}
.main img{
    width: 500px;
}
@media only screen and (max-width: 700px) {
    .main img{
        width: 300px;
    }
}

/* sponsers mention */
.sponser-section{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 79vh;
    justify-content: center;
    width: 100vw;
    height: 4rem;
}
#presentedBy{
    color: var(--lightGreen);
    margin-bottom: 0.75rem;

}
.sponsers{
    display: flex;

    width: 100vw;
}
.sponsers img{
    width: 163px;
}
#intel{
    width: 68px;
}
@media only screen and (max-width: 700px) {
    .sponsers img{
        width: 90px;

    }
    #intel{
        width: 40px; 
    }
  }

/* call to action btn */
.register-btn{
    cursor: pointer;
    background-color: var(--offWhite);
    padding: 0.5rem;
    font-size: 1.5rem;
    box-shadow: -3px 5px var(--brightOrange);
    border: 3px solid var(--lightGreen);
    color: var(--darkestGreen);
    font-size: 2rem;
}
.register-btn:hover{
    background-color: var(--lightGreen);
    color: var(--brightOrange) ;
}
.callToAction{
    display: flex;
    position: absolute;
    top: 89vh;
    justify-content: center;
    width: 100vw;
}
