:root {
  --red-orange-color-wheel: #f74700;
  --orange-golden-bridge: #b53a25;
  --offWhite: #f3f0e0;
  --beaver: #a88771;
  --morning-blue: #91a88c;
  --xanadu: #677662;
  --charleston-green: #2b3531;
  --honeydew: #dbe7d9;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--offWhite);
  margin: 0;
  padding: 0;
  width: 100%;
}
img {
  pointer-events: none;
  user-select: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

nav {
  width: 90%;
  max-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto;
}
nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
}
nav a img {
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 66%;
  margin: auto;
}
.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-container figure {
  margin: 0;
  display: flex;
  justify-items: center;
  align-items: center;
  margin-top: 0.2rem;
}
.intro-container figure img {
  width: 6rem;
  margin: auto 1.5rem;
}
.intro-container h2 {
  color: var(--morning-blue);
  font-weight: 500;
  text-align: center;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner img {
  width: 640px;
  margin: auto;
}
.banner p {
  color: var(--orange-golden-bridge);
  text-align: center;
  width: 80%;
  margin: auto;
}

.register-container {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}
.register-container button {
  cursor: pointer;
  width: fit-content;
  margin-top: 2rem auto;
  background-color: var(--red-orange-color-wheel);
  font-size: 1.5rem;
  border: none;
  border-radius: 2rem;
  padding: 0.7rem 3rem;
  color: white;
  transition: box-shadow 0.3s;
  font-weight: 700;
}
.register-container button:hover {
  box-shadow: 0px 15px 20px rgba(33, 33, 33, 0.2);
}

.sponsors {
  text-align: center;
  padding-bottom: 2rem;
}
.sponsors h3 {
  color: var(--morning-blue);
  font-weight: 700;
}
.sponsors div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
}
.sponsors div a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.4rem;
}
.sponsors div a img {
  width: 100%;
  max-width: 140px;
  margin: auto;
}
#intel {
  margin-top: 0;
  width: 48px;
}

.info {
  min-height: 100vh;
  background: var(--honeydew);
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.info-container div {
  margin-right: 5rem;
  max-width: 45%;
}
.info-container div h1 {
  font-size: 3rem;
}
.info-container div p {
  margin-top: 2rem;
}
.info-container figure {
  margin: 0;
  height: 100vh;
}
.info-container figure img {
  height: 100%;
}

.form {
  min-height: 100vh;
  background-color: var(--beaver);
  display: flex;
  justify-content: center;
  align-items: center;
}
.form > div {
  height: 100vh;
  width: 100%;
}

footer {
  background: #dbe8d9;
}
footer > figure {
  margin: auto;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background: var(--offWhite);
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
footer > figure img {
  width: 100%;
}
.footer-map {
  display: flex;
  justify-content: space-around;
  padding-bottom: 3rem;
}
.footer-map > * {
  width: 20%;
  margin: 0;
}
.footer-map figure {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-map figure img {
  width: 120px;
}
.footer-map div h4 {
  font-size: 1.2rem;
  color: var(--orange-golden-bridge);
  margin-bottom: 35px;
  font-weight: bold;
  position: relative;
}
.footer-map div h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--orange-golden-bridge);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-map div ul {
  list-style: none;
  padding: 0;
}
.footer-map div ul li {
  margin-top: 8px;
}
.footer-map div ul li a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--xanadu);
  transition: all 0.3s ease;
}
.footer-map div ul li a:hover {
  color: var(--orange-golden-bridge);
  padding-left: 8px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.caption {
  font-size: 0.9rem;
  text-align: center;
  background-color: var(--offWhite);
  padding: 12px 0;
}
.caption a {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
}

@media only screen and (max-width: 786px) {
  nav {
    width: 80%;
  }
  nav a {
    width: 36px;
  }

  .hero {
    width: 95%;
  }
  .intro-container figure img {
    width: 2.5rem;
  }

  .banner img {
    width: 85%;
  }
  .banner p {
    width: 100%;
    font-size: 0.8rem;
  }

  .register-container button {
    font-size: 1rem;
    padding: 0.5rem 2.5rem;
  }

  .sponsors div {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0 1rem 0 1rem;
  }
  .sponsors div a img {
    width: 78px;
  }
  #intel {
    width: 24px;
  }

  .info {
    padding-bottom: 2rem;
  }
  .info-container {
    width: 90%;
  }
  .info-container div {
    max-width: 100%;
  }
  .info-container div h1 {
    font-size: 1.7rem;
  }
  .info-container figure {
    display: none;
  }

  .footer-map {
    flex-direction: column;
  }
  .footer-map > * {
    width: 90%;
    margin: auto;
  }
  .footer-map div h4 {
    margin-top: 18px;
  }
  footer > figure {
    transform: translateY(20%);
    margin-bottom: 60px;
    height: 60px;
    width: 60px;
    padding: 0.5rem;
  }

  .intro-container {
    margin-top: 2rem;
  }
  .intro-container h2 {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
}
