:root {
  --brightOrange: #f74700;
  --darkOrange: #b53a25;
  --offWhite: #f3f0e0;
  --brown: #a88771;
  --lightGreen: #91a88c;
  --greyishGreen: #677662;
  --darkestGreen: #2b3531;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--offWhite);
  margin: 0;
  padding: 0;
  width: 100%;
}
img {
  pointer-events: none;
  user-select: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

nav {
  width: 90%;
  max-width: 1024px;
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 1rem;
}
nav img {
  width: 4rem;
}

.hero {
  min-height: 100vh;
  width: 66%;
  margin: auto;
}
.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}
.intro-container figure {
  margin: 0;
  display: flex;
  justify-items: center;
  align-items: center;
  margin-top: 0.2rem;
}
.intro-container figure img {
  width: 6rem;
  margin: auto 1.5rem;
}
.intro-container h2 {
  color: var(--lightGreen);
  font-weight: 500;
  text-align: center;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner img {
  width: 640px;
  margin: auto;
}
.banner p {
  color: var(--brightOrange);
  text-align: center;
  margin: 0;
  width: 70%;
  margin: auto;
}

.sponsors {
  margin: 2rem auto auto auto;
  text-align: center;
}
.sponsors h3 {
  color: var(--lightGreen);
  margin: 1rem;
}
.sponsors div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--darkestGreen);
  border-bottom-right-radius: 2.5rem;
  padding: 1rem 0.5rem;
  margin-bottom: 3rem;
  width: 80%;
  margin: auto;
}
.sponsors div a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.4rem;
}
.sponsors div a img {
  width: 100%;
  max-width: 140px;
  margin: auto;
}
#intel {
  margin-top: 0;
  width: 48px;
}

.sponsors button {
  cursor: pointer;
  margin: 1rem auto;
  background-color: var(--brightOrange);
  font-size: 1.5rem;
  border: none;
  border-radius: 2rem;
  padding: 0.7rem 1.5rem;
  color: var(--offWhite);
  transition: box-shadow 0.3s;
}
.sponsors button:hover {
  box-shadow: 10px 10px 20px rgba(33, 33, 33, 0.2);
}

.info {
  min-height: 100vh;
  background: var(--greyishGreen);
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-container {
  width: 66%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.info-container article {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
}
.info-container article p {
  margin: auto 2rem;
}

.form {
  min-height: 100vh;
  background-color: var(--brown);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background: #dbe8d9;
}
footer > figure {
  margin: auto;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background: var(--offWhite);
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-map {
  display: flex;
  justify-content: space-around;
  padding-bottom: 3rem;
}
.footer-map > * {
  width: 20%;
  margin: 0;
}
.footer-map figure {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-map figure img {
  width: 120px;
}
.footer-map div h4 {
  font-size: 1.2rem;
  color: var(--darkOrange);
  margin-bottom: 35px;
  font-weight: bold;
  position: relative;
}
.footer-map div h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--darkOrange);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-map div ul {
  list-style: none;
  padding: 0;
}
.footer-map div ul li {
  margin-top: 8px;
}
.footer-map div ul li a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--greyishGreen);
  transition: all 0.3s ease;
}
.footer-map div ul li a:hover {
  color: var(--darkOrange);
  padding-left: 8px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.caption {
  font-size: 0.9rem;
  text-align: center;
  background-color: var(--offWhite);
  padding: 12px 0;
}
.caption a {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
}

@media only screen and (max-width: 786px) {
  nav {
    width: 80%;
  }
  nav img {
    width: 2.5rem;
  }

  .hero {
    width: 95%;
  }
  .info-container {
    width: 100%;
  }
  .intro-container figure img {
    width: 4rem;
  }

  .banner img {
    width: 85%;
  }
  .banner p {
    width: 100%;
  }

  .sponsors div {
    width: 100%;
    padding: 0.5rem 1rem;
  }
  .sponsors div a img {
    max-width: none;
    width: 78px;
  }

  .info-container {
    width: 95%;
  }
  .info-container article {
    flex-direction: column-reverse;
  }

  .footer-map {
    flex-direction: column;
  }
  .footer-map > * {
    width: 90%;
    margin: auto;
  }
  .footer-map div h4 {
    margin-top: 18px;
  }
}
