:root{
    --brightOrange : #F74700;
    --darkOrange : #B53A25;
    --offWhite : #F3F0E0;
    --brown: #A88771;
    --lightGreen : #91A88C;
    --greyishGreen : #677662;
    --darkestGreen: #2B3531;
}
*{
    box-sizing: border-box;
    margin: auto;
    padding: 0%;
    font-family: 'Poppins', sans-serif;;
}

body{
    background-color: var(--offWhite);
}
.landing-page{
    height: 100vh;
}


/* navbar  */
.nav{
    position: absolute;
    width: 100%;
    height: 3rem;
    display: flex;

}
.nav img{
    width: 3rem;
}
.intro{
    display: flex;
    position: absolute;
    top: 10vh;
    width: 100vw;
    justify-content: center;
}

/* intro (kzilla celebrated) */
.intro img{
    width: 6rem;
}
.intro h2{
    font-weight: 500;
    color: var(--lightGreen);
}
@media only screen and (max-width: 700px) {
    .intro img {
        width: 4rem;
    }
  }

/* main- logo+ descrp */
.main {
    position: absolute;
    top: 25vh;
    width: 95vw;
    margin: 0px 0.5rem 0rem 1rem;
    display: flex;
    flex-direction: column;
}
.main p{
    text-align: center;
    margin-top: 5rem;
    color: var(--brightOrange);
}
.main img{
    width: 500px;
}
@media only screen and (max-width: 700px) {
    .main img{
        width: 300px;
    }
}

/* sponsers mention */
.sponser-section{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 72vh;
    margin-top:20px;
    justify-content: center;
    width: 100vw;
    height: 4rem;
}
#presentedBy{
    color: var(--lightGreen);
    margin-bottom: 0.75rem;

}
.sponsers{
    display: flex;

    width: 100vw;
}
.sponsers img{
    width: 163px;
}
#intel{
    width: 68px;
}
@media only screen and (max-width: 700px) {
    .sponsers img{
        width: 90px;

    }
    #intel{
        width: 40px; 
    }
  }

/* call to action btn */
.register-btn{
    cursor: pointer;
    margin-top: 35px;
    background-color: var(--offWhite);
    padding: 0.5rem;
    font-size: 1.5rem;
    box-shadow: -3px 5px var(--brightOrange);
    border: 3px solid var(--lightGreen);
    color: var(--darkestGreen);
    font-size: 2rem;
}
.register-btn:hover{
    background-color: var(--lightGreen);
    color: var(--brightOrange) ;
}
.callToAction{
    display: flex;
    position: absolute;
    top: 80vh;
    justify-content: center;
    width: 100vw;
}
/*info page*/
.info-page{
    margin-top: 5rem;
    height: 100vh;
    padding: 0.5rem;
   
    background-color: var(--lightGreen);
}
.info{
    display: flex;
    padding-top: 2rem;
    text-align: center;

}
.info-1{
    color: var(--darkOrange);
    margin-top: 10rem;
   
}
.info-2{
    color: var(--offWhite);
}
/*form*/
.form-page{

    height: 100vh;
    background-color: var(--darkOrange);
}

/*footer-section*/
.footer-section{  
    background: #DBE8D9; 
    
    width: 100vw;
}
.footer{
    width: 100vw;
    height:fit-content;
    background:#DBE8D9;
    padding: 35px 0 35px;
    overflow: hidden;
    margin-top:60px;
}
.container{
    width: 100vw;
	margin:auto;
    overflow: hidden;
    padding:10px;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color:#B53A25;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: bold;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: black;
	text-decoration: none;
	font-weight: 400;
	color: #677662;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color:#F74700;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 50px;
	width: 50px;
    font-size: 19px;
    text-align: center;
    vertical-align:2px;
	background-color: #F74700;
	margin:0 8px 8px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links svg{
	margin-top: 13px;
    text-align: center;
}
.footer-col .social-links a:hover{
	background-color: #e91e63;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.footer-last{
    color:#2B3531;
}
.footer-logo{
    display: flex;
    width:100%;
    position: relative;
}
.circle{
    height:120px;
    width:120px;
    border-radius: 50%;
    position: absolute;
    left: 46.96%;
    margin-top:-60px;
    background:var(--offWhite);
}
.footer-hacktober{
    margin-top:15px;
    padding:10px;
}